* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(26, 28, 31);
}

.mainbox {
  width: 1000px;
  background-color: rgb(26, 28, 31);
  margin: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: left;
}


header {
  width: 1000px;
  height: 300px;
  background-color: rgb(26, 28, 31);
  text-align: center;
  padding: 25px 0px 15px 0px;
}

nav {
  width: 1000px;
  height: 50px;
  background-color: rgb(26, 28, 31);
  color: white;
  padding-top: 25px;
  padding-left: 17px;
  font-weight: 500;
  text-align: center;
  
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
  transition: color 0.3s;
}

nav a:hover {
  color: rgb(235,98,95);
}

.footerbox {
  width: 1000px;
  height: 250px;
  background-color: rgb(26, 28, 31);
  float: left;
}

.footerlinks {
  width: 1000px;
  height: 250px;
  display: flex;
  justify-content: center;  
  align-items: center;      
  background-color: rgb(26, 28, 31);
  color: white;
}


.footer-links {
  display: flex;
  justify-content: space-between;  
  width: 280px;                      
  max-width: 800px;               
}


.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.footer-column a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}


.footer-column a:hover {
  color: rgb(235,98,95);
}

.footer-text {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

.topofpagebox {
  width: 1000px;
  height: 40px;
  background-color: rgb(26, 28, 31);
  float: left;
}

.copyrightbox {
  box-sizing: border-box;
  color: rgb(143, 143, 143);
  width: 200px;
  height: 50px;
  background-color: rgb(26, 28, 31);
  padding-top: 25px;
  padding-left: 10px;
  font-size: 13px;
  float: left;
}

.dotbox {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  margin-left: 300px;
  margin-right: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(26, 28, 31);
  float: left;
}
.socialbox {
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-left: 60px;
  padding-bottom: 10px;
  background-color: rgb(26, 28, 31);
  float: left;
}


.socialbox a:link {
  color: none;
  text-decoration: none;
}

.socialbox a:visited {
  color: none;
  text-decoration: none;
}


.dotstyle {
  color: white;
  font-size: 20px;
  color: #b0b0b0;              /* Light grey color for the text */
  text-shadow: 
    1px 1px 0 #333,           /* Light shadow on top-left */
    -1px -1px 0 #666,         /* Dark shadow on bottom-right */
    1px -1px 0 #666,          /* Dark shadow on top-right */
    -1px 1px 0 #333;          /* Light shadow on bottom-left */

}

.totopbutton {
  width: 100px;
  height: 40px;
  background-image: linear-gradient(to top,rgb(190, 66, 64), rgb(235,98,95));
  color: white;
  text-align: center;
  font-size: 16px;
  text-shadow: 1px 1px 0 rgb(49, 49, 49);
  padding-top: 11px;
  position: fixed;
  bottom: 15px;
  right: 12px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

html {
  scroll-behavior: smooth;
}
